DATABASE_URL="postgres://USER:PASSWORD@localhost:5432/NAME_BDD?schema=public"

AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_S3_REGION=your_region_s3
AWS_S3_BUCKET=your_bucket_s3