<section>
  <div class="container-form">
    <h1>Prêt(e) à découvrir votre profil ?</h1>
    <div class="form-container">
      <form [formGroup]="form">
        <div class="form-group-container">
          <div class="form-group-global">
            <div class="form-group-double">
              <app-input-form label="Prénom *" formControlName="prenom"/>
              @if (form.get('prenom')?.touched && form.get('prenom')?.hasError('required')) {
                <span class="error">Le prénom est requis</span>
              }
            </div>
            <div class="form-group-double">
              <app-input-form label="Nom *" formControlName="nom"/>
              @if (form.get('nom')?.touched && form.get('nom')?.hasError('required')) {
                <span class="error">Le nom est requis</span>
              }
            </div>
          </div>

          <div class="form-group-global">
            <div class="form-group-double">
              <app-input-form label="Email *" formControlName="email"/>
              @if (form.get('email')?.touched && form.get('email')?.hasError('required')) {
                <span class="error">L'email est requis</span>
              }
              @if (form.get('email')?.touched && form.get('email')?.hasError('email')) {
                <span class="error">Format email invalide</span>
              }
            </div>
          </div>

          <div class="form-group-global">
            <div class="form-group-double">
              <app-input-form label="Date de naissance *" formControlName="dateNaissance" type="date"/>
              @if (form.get('dateNaissance')?.touched && form.get('dateNaissance')?.hasError('required')) {
                <span class="error">La date de naissance est requise</span>
              }
            </div>
          </div>
        </div>
        <div class="form-question">
          <span>Quelles sont les filières qui vous attirent le plus ?</span>
          <div class="form-group-checkbox">
            @if (isLoading()) {
              <p>Chargement des filières...</p>
            } @else {
              @for (filiere of filieres(); track filiere.uid) {
                <app-chips
                  [uid]="filiere.uid"
                  [label]="filiere.label"
                  (change)="onFiliereChange(filiere.uid, $event)">
                </app-chips>
              } @empty {
                <p>Aucune filière disponible.</p>
              }
            }
          </div>
          <div class="form-consentement">
            <app-checkbox-form
              label="J'accepte que mes données soient utilisées dans le cadre de ce quiz et de ses analyses."
              title="Consentement"
              formControlName="consentement"
            ></app-checkbox-form>
          </div>
          <div class="info-note">
            <p>* Champs obligatoires</p>
          </div>
          <div class="btn-container">
            <app-button-primary
              link="/quiz"
              label="Valider & commencer le quiz"
              [disabled]="form.invalid"
              (clicked)="onSubmit()"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
