<section class="quiz-page">
  @if (questions().length > 0) {
    <div class="quiz-page__header">
      <span>Quiz - Question {{ currentQuestion() + 1 }} / {{ totalQuestions() }}</span>
      <div class="quiz-page__progress">
        <app-process-bar
          [value]="currentQuestion() + 1"
          [max]="totalQuestions()"
        ></app-process-bar>

        <div>{{ progressPercent() | number:'1.0-0' }}%</div>
      </div>
    </div>
    <div class="quiz-page__content">
      <div class="quiz-page__question">
        <span>{{ currentQuestionData().label }}</span>
      </div>
      <div>
        @if (currentQuestionData().multiple) {
          <span>Choisissez une ou plusieurs réponses :</span>
        } @else {
          <span>Choisissez une réponse :</span>
        }
        <div>
          @if (currentQuestionDetails(); as question) {
            @for (reponse of question.reponses; track reponse.uid) {
              <div class="quiz-page__answer">
                <app-checkbox
                  [label]="reponse.label"
                  (checkedChange)="onAnswerChange(reponse, $event)"
                />
              </div>
            }
          }
        </div>
      </div>

      <div class="quiz-navigation">
        @if (currentQuestion() < totalQuestions() - 1) {
          <app-button-primary label="Question suivante" (click)="nextQuestion()"/>
        } @else {
          <app-button-primary label="Terminer le quiz" (click)="finishQuiz()" link="/quiz/results"/>
        }
      </div>
    </div>
  } @else {
    <div class="loading">Chargement des questions...</div>
  }
</section>
