.results-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;

  .results-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ateliers-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    width: 100%;


    .ateliers-grid__container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
