
.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 25px;

  input {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--color-border);
    outline: none;
    background: none;
    transition: all 0.3s ease;

    &:focus {
      outline: none;
      border-color: var(--color-primary);
    }

    &:focus + label {
      top: -10px;
      color: var(--color-primary);
    }
  }

  label {
    position: absolute;
    padding: 0 7px;
    top: 15px;
    left: 10px;
    font-size: 14px;
    transition: all .3s;
    background-color: var(--color-background);
  }

  // Label reste en haut si l'input a une valeur
  &.has-value label {
    top: -10px;
  }
}
