section {
  padding: 20px;

  .stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;

    app-stat-card {
      min-width: 0;
    }
  }

  .charts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;

    .candidat-container {
      grid-column: span 3;
      border: 1px solid var(--color-border);
      border-radius: 8px;
      min-height: 300px;
    }

    .filiere-container {
      grid-column: span 1;
      border: 1px solid var(--color-border);
      border-radius: 8px;
    }
  }
}
