:root {
  --color-primary: #23b2a4;
  --color-secondary: #0B6F63;
  --color-primary-access: #187b73;
  --color-text-black: #151417FF;
  --color-text-gray: #A5A5A5;
  --color-text-white: #FFFFFF;
  --color-background: #FFFFFF;
  --color-border: #CFCFCF;
  --color-background-active: #F6F6F7;
  --color-input-active: #33B1F9;
  --color-background-hover: #F2F2F2;
  --color-background-badge: #f4f4f4;
  --color-placeholder: #EAEAEA;

  --color-link: #57AEFF;
  --color-error: #FF414D;
  --background-error: rgb(255, 226, 227);
  --color-success: #1EDD93;
  --color-warning: #FFC700;
  --color-info: #909399;

  --background-response: #F5F5F5;
  --background-response-hover: #E8E8E8;

  --color-ia: #23B1D2;
  --color-hover-ia: #1C8EAA;
  --color-dev: #00eaff;
  --color-hover-dev: #00BBCC;
  --color-cyber: #5affb6;
  --color-hover-cyber: #45CC91;

  --font: "Source Sans Pro", "Helvetica", "Arial", sans-serif;

  --drop-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);

  --nav-width: 10rem;
  --nav-height: 4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font), serif;
}

.error-title {
  font-size: 2.5rem;
  margin-bottom: .9375rem;
}

.error-message {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
