.quiz-answer-button {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--color-background-active);
  color: var(--color-text-black);
  cursor: pointer;
  transition: 0.2s;
  text-align: left;

  &:hover {
    background: var(--color-background-hover);
  }

  &.selected {
    background: var(--color-input-active);
    color: var(--color-text-white);
  }
}
