<div class="chart-title">
  <h2>
    Nouveaux Candidats
  </h2>
  <div class="chart-title__subtitle">
    3 derniers
  </div>
</div>
<div class="candidats-container">
  @if (isLoaded) {
    @for (candidat of candidats(); track candidat.uid) {
      <app-candidats-info-dashboard
        [uid]="candidat.uid"
        [firstname]="candidat.firstname"
        [lastname]="candidat.lastname"
        [email]="candidat.email"
        [ageRange]="candidat.ageRange"
        [appointment]="candidat.appointment"
        [ateliers]="candidat.ateliers"
      ></app-candidats-info-dashboard>
    }
  } @else {
    <span>Chargement des candidats...</span>
  }
</div>
