section {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 5rem;
  gap: 5rem;

  .container-atelier {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .container-atelier-header,
    .container-atelier-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      h1 {
        font-size: 3rem;
        text-align: center;
      }

      span {
        color: var(--color-text-gray);
        font-size: 1.2rem;
      }
    }

    .ateliers-grid {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      width: 100%;


      .ateliers-grid__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
      }
    }

    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
     padding-bottom: 3rem;
    }

    .container-atelier-footer {
      margin-top: 2rem;
      h1 {
        text-align: center;
      }
    }
  }
}
